
body {
  margin: 0;
  background: url('IMG_6066.JPG') repeat center center;
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  animation: moveBackground 30s linear infinite;
}

/* Animation that slowly moves the background */
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full screen height */
}


h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  color: rgb(79, 96, 112);
  margin-bottom: 60px;
  text-align: center;
}


.button-row {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}


.nav-button {
  min-width: 220px;
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, rgb(79, 96, 112), rgb(38, 51, 66));
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.nav-button:hover {
  background: linear-gradient(135deg, rgb(79, 96, 112), rgb(38, 51, 66));
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
