#tablesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;   
  gap: 2rem;            
  width: 100%;
}

.table-container {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgb(38, 51, 66);
  padding: 15px;
  width: 80%;          
  max-width: 1000px;      
  min-width: 600px;      
  margin: 0 auto;         
  overflow-x: auto;    
  overflow-y: hidden;
  display: block;         
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}
.table-container:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgb(38, 51, 66);
}

.table-container table {
  width: 100%;             
  min-width: unset;   
  white-space: nowrap;     
  border-collapse: collapse;
  overflow-x: auto;
}


.table-container::-webkit-scrollbar {
  height: 6px;
}
.table-container::-webkit-scrollbar-thumb {
  background: rgba(38, 51, 66, 0.3);
  border-radius: 4px;
}
.table-container::-webkit-scrollbar-thumb:hover {
  background: rgba(38, 51, 66, 0.6);
}
